<!-- About Me Subpage -->
<section class="pt-page pt-page-2" data-id="about_me">
  <div class="border-block-top-110"></div>
  <div class="section-inner">
    <div class="section-title-block">
      <div class="section-title-wrapper clearfix">
        <h2 class="section-title">About Me</h2>
        <h5 class="section-description">Problem Solver, Programmer, All Around Fun Guy</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-4 subpage-block">
        <div class="my-photo-block tilt-effect">
          <img src="images/main_photo.jpg" alt="">
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4">
        <h3>I am Web Developer.</h3>
        <p>Hey! I am also a gamer. I love learning the ins and outs of new games, trying to figure
            out the best way to navigate the system, make optimizal moves. And I like to bring this
            optimization to writing code.</p>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4 subpage-block">
        <ul class="info-list">
          <li><span class="title">Age</span><span class="value" id="years-old">28ish</span></li>
          <li><span class="title">Residence</span><span class="value">Spokane, Washington</span></li>
          <li><span class="title">e-mail</span><span class="value"><a href="mailto:email@example.com">me@willgretz.com</a></span></li>
          <li><span class="title">Phone</span><span class="value">Available on request</span></li>
          <li><span class="title">Freelance</span><span class="value available">Available</span></li>
        </ul>

        <ul class="social-links">
          <li><a class="tip social-button" href="https://twitter.com/willgretz" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a class="tip social-button" href="https://facebook.com/willgretz" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a class="tip social-button" href="https://www.instagram.com/willgretz/" title="Instagram"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>

    {% include testimonials.html %}

    <!-- Fun facts block -->
    <!--<div class="block-title">
      <h3>Fun Facts</h3>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-3 subpage-block">
        <div class="fun-fact-block gray-bg tilt-effect">
          <i class="pe-7s-icon pe-7s-pawn"></i>
          <h4>Board Games</h4>
          <span class="fun-value">1,024</span>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 subpage-block tilt-effect">
        <div class="fun-fact-block">
          <i class="pe-7s-icon pe-7s-alarm"></i>
          <h4>Working Hours</h4>
          <span class="fun-value">6,256</span>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 subpage-block tilt-effect">
        <div class="fun-fact-block gray-bg">
          <i class="pe-7s-icon pe-7s-medal"></i>
          <h4>Awards Won</h4>
          <span class="fun-value">21</span>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 subpage-block tilt-effect">
        <div class="fun-fact-block">
          <i class="pe-7s-icon pe-7s-coffee"></i>
          <h4>Coffee Consumed</h4>
          <span class="fun-value">20,000</span>
        </div>
      </div>
    </div>-->
    <!-- End of Fun fucts block -->
  </div>
</section>
<!-- End of About Me Subpage -->