<!-- Resume Subpage -->
<section class="pt-page pt-page-3" data-id="resume">
  <div class="border-block-top-110"></div>
  <div class="section-inner">
    <div class="section-title-block">
      <div class="section-title-wrapper">
        <h2 class="section-title">Resume</h2>
        <h5 class="section-description"><span id="years-experience"></span> Years of Experience</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4 subpage-block">
        <div class="block-title">
          <h3>Education</h3>
        </div>
        <div class="timeline">
          <!-- Single event -->
          <div class="timeline-event te-primary">
            <h5 class="event-date">September 2007 - June 2010</h5>
            <h4 class="event-name">Software Development Courses</h4>
            <span class="event-description">Spokane Community College</span>
            <p>
              The thing that kicked off my infatuation with programming.
              I began teaching myself more and more. When it got close
              to graduation time I went to a local university to discuss
              transferring discovered none of my classes counted.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 subpage-block">
        <div class="block-title">
          <h3>Experience</h3>
        </div>
        <div class="timeline">
          <!-- Single event -->
          <div class="timeline-event te-primary">
            <h5 class="event-date">December 2012 - June 2017</h5>
            <h4 class="event-name">Software Developer</h4>
            <span class="event-description">K3 Integrations</span>
            <p>Develop mission based web applications.</p>
          </div>
          <!-- Single event -->
          <div class="timeline-event te-primary">
            <h5 class="event-date">December 2011 - December 2012</h5>
            <h4 class="event-name">Software Developer</h4>
            <span class="event-description">Radsoft</span>
            <p>Develop web and mobile applications for an agile coaching consultancy.</p>
          </div>
          <!-- Single event -->
          <div class="timeline-event te-primary">
            <h5 class="event-date">October 2010 - December 2011</h5>
            <h4 class="event-name">Software Developer</h4>
            <span class="event-description">Redpine Healthcare Technologies.</span>
            <p>
              Write RSpec and Selenium, Capybara tests to assist in upgrading to Rails 3.
              Add features to make applications to meet the governme Meaningful Use guidelines.
            </p>
          </div>
          <!-- Single event -->
          <div class="timeline-event te-primary">
            <h5 class="event-date">March 2010 - October 2010</h5>
            <h4 class="event-name">Software Developer</h4>
            <span class="event-description">Gravity Jack</span>
            <p>Develop web and mobile applications for various clients.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 subpage-block">
        <div class="block-title">
          <h3>Coding Skills</h3>
        </div>
        <div class="skills-info">
          <h4>Rails</h4>                               
          <div class="skill-container">
            <div class="skill-percentage skill-4"></div>
          </div>

          <h4>Ruby</h4>
          <div class="skill-container">
            <div class="skill-percentage skill-5"></div>
          </div>

          <h4>HTML</h4>
          <div class="skill-container">
            <div class="skill-percentage skill-6"></div>
          </div>

          <h4>CSS</h4>
          <div class="skill-container">
            <div class="skill-percentage skill-6"></div>
          </div>

          <h4>Javascript</h4>
          <div class="skill-container">
            <div class="skill-percentage skill-6"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="download-cv-block">
          <a class="button" target="_blank" href="#">Download CV</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Resume Subpage -->