<div class="row">
    <div class="col-sm-12 col-md-12 subpage-block">
        <div class="block-title">
        <h3>Testimonials</h3>
    </div>
    <div class="testimonials owl-carousel">
        <!-- Testimonial 1 -->
        <div class="testimonial-item">
            <!-- Testimonial Content -->
            <div class="testimonial-content">
            <div class="testimonial-text">
                <p>"Will is a very intelligent programmer. He picks up on new ideas quickly. He's able to keep working on even the most difficult and drawn out problems with persistence. Easy going, he works well with others."</p>
            </div>
        </div>            
        <!-- /Testimonial Content -->  
        <!-- Testimonial Author -->
        <div class="testimonial-credits">
            <!-- Picture -->
            <div class="testimonial-picture">
                <img src="images/testimonials/Nicholas_Clark.jpg" alt="">
            </div>              
            <!-- /Picture -->
            <!-- Testimonial author information -->
            <div class="testimonial-author-info">
                <p class="testimonial-author">Nicholas Clark</p>
                <p class="testimonial-firm">K3 Integrations</p>
            </div>
        </div>
        <!-- /Testimonial author information -->               
    </div>
    <!-- End of Testimonial 1 -->

    <!-- Testimonial 2 -->
    <div class="testimonial-item">
        <!-- Testimonial Content -->
        <div class="testimonial-content">
            <div class="testimonial-text">
                <p>"Will Gretz is a hard worker, that learned a lot while working with us. He was asked to take lead on important projects: DevOps and Integration testing. He did a great job."</p>
            </div>
        </div>            
        <!-- /Testimonial Content -->  
        <!-- Testimonial Author -->
        <div class="testimonial-credits">
            <!-- Picture -->
            <div class="testimonial-picture">
                <img src="images/testimonials/testimonial_photo_2.jpg" alt="">
            </div>              
            <!-- /Picture -->
            <!-- Testimonial author information -->
            <div class="testimonial-author-info">
                <p class="testimonial-author">Chris Reister</p>
                <p class="testimonial-firm">Redpine Health Technologies.</p>
            </div>
        </div>
            <!-- /Testimonial author information -->               
    </div>
    <!-- End of Testimonial 2 -->

    <!-- Testimonial 3 -->
    <div class="testimonial-item">
        <!-- Testimonial Content -->
        <div class="testimonial-content">
            <div class="testimonial-text">
                <p>"Will is a very devoted, self-starting, knowledgeable fellow. While I’ve not dug into code with him much personally, I’ve seen the effects of his quality work. His devotion is evident in the satisfaction of his clients, and his ability to crank though issues on a schedule makes work easier for those around him. He’s also a really kind guy to have on a team. He cares for others and works well with a gamut of personalities."</p>
            </div>
        </div>            
        <!-- /Testimonial Content -->  
        <!-- Testimonial Author -->
        <div class="testimonial-credits">
            <!-- Picture -->
            <div class="testimonial-picture">
                <img src="images/testimonials/testimonial_photo_3.jpg" alt="">
            </div>              
            <!-- /Picture -->
            <!-- Testimonial author information -->
            <div class="testimonial-author-info">
                <p class="testimonial-author">Kevin Coleman</p>
                <p class="testimonial-firm">K3 Integrations</p>
            </div>
        </div>
        <!-- /Testimonial author information -->               
    </div>
    <!-- End of Testimonial 3 -->
</div>
<div class="text-right">
    <a href="#">View More Recommendations on Linked In</a>
</div>
